# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]
global-exclude __pycache__/**

# Top-level Config
include LICENSE
include MANIFEST.in
include setup.cfg
include versioneer.py
include requirements.txt
include calculator/_version.py
